@font-face {
  font-family: gunplay;
  src: url(gunplay.ttf);
}

:root {
  --BACKGROUND-COLOR: #171717;
  --PANE-COLOR: #111111;
  --PRIMARY-COLOR: #155902;
}

@charset "utf-8";
/*					
	Author		CrystalCommerce.com // Ross Dallaire
	
	Colors
*/

/* RESET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
/* /END RESET */
body {
  background: #6d6d6d url("img/bodyBg_repeatX.gif") top repeat-x;
  font-family: gunplay, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

p {
  line-height: 150%;
  margin: 0 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--PRIMARY-COLOR);
  font-family: gunplay, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 32px;
  margin: 0 16px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  font-weight: normal;
}

h3 {
  font-size: 15px;
  margin: 0 0 12px;
  font-weight: normal;
}

h4,
h5,
h6 {
  margin: 5px 0 5px;
  font-weight: bold;
}

a img {
  border: none;
  outline: none;
}

a {
  color: #363636;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #999;
}

/* remove dotted lines on some links in FF browser */

a,
a:active,
a:visited,
a img {
  outline: none;
}

/* / */

/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
/* /END CLEARFIX */

body {
  color: var(--PRIMARY-COLOR);
  background-color: var(--BACKGROUND-COLOR);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--BACKGROUND-COLOR);
  height: 80px;
  width: 100vw;
  padding: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

main {
  flex: 1;
  width: 100%;
  height: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}

footer {
  height: 32px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.logo {
  height: 48px;
}

.panel {
  position: absolute;
  top: 6px;
  right: 20px;
  padding: 16px;
  display: flex;
  opacity: 0.6;
}

.panel:hover {
  opacity: 1;
}

#parameters {
  width: 250px;
  background-color: var(--PANE-COLOR);
  border-radius: 4px;
  padding: 10px 12px;
  margin-right: 8px;
}

#sliders {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}

#chartContainer {
  height: 240px;
  width: 480px;
}

.input {
  display: flex;
  align-items: center;
}

.input > .label {
  margin-right: 8px;
  text-transform: lowercase;
  min-width: 80px;
  text-align: right;
}

button {
  background-color: var(--PRIMARY-COLOR);
  padding: 8px;
  border-radius: 2px;
  font-weight: bold;
  font-family: gunplay, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 0 8px;
}
